.cart {
  background-color: var(--white);
  position: absolute;

  box-shadow: 0 20px 50px -20px #1d201c80, 0 22px 18px #1d201c06,
    0 100px 80px #1d201c0a;
  border-radius: 10px;
  z-index: 10;
  width: calc(100vw - 1.6rem);
  top: 84px;
  right: 50%;
  transform: translateX(50%);
}

.cart__header {
  border-bottom: 1px solid var(--light-grayish-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
}

.cart__title {
  font-size: 1.6rem;
  font-weight: 700;
}

.cart__body {
  display: grid;
  gap: 1.5rem;
  min-height: 209px;
  padding: 2.4rem 2.4rem 3.2rem 2.4rem;
}

.cart__empty-message {
  font-size: 1.6rem;
  font-weight: 700;
  justify-self: center;
  align-self: center;
  color: var(--dark-grayish-blue);
}

.cart__item {
  display: flex;
  gap: 1.2rem;
}
.cart__item:not(:last-of-type) {
  margin-bottom: 1.2rem;
}
.cart__item-img {
  width: 50px;
  height: 50px;
  border-radius: 0.4rem;
}

.cart__item-title {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--dark-grayish-blue);
}
.cart__item-pice {
  color: var(--dark-grayish-blue);
}
.cart__item-pice b {
  color: var(--black-75-opacity);
}

.cart__item-remove:hover svg path {
  transition: all 0.2s ease-in-out;
  fill: var(--very-dark-blue);
}

@media (min-width: 768px) {
  .cart {
    width: 360px;
    right: 0;
    top: 80px;
    transform: unset;
  }
}

@media (min-width: 1024px) {
  .cart {
    top: 110px;
  }
}
