.details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card {
  width: 35rem;
}

.title {
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.2rem 0rem;
}

.heading {
  text-transform: capitalize;
  font-size: 3.2rem;
}

.content {
  color: var(--dark-grayish-blue);
  padding: 2rem 0rem;
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .card {
    width: 41rem;
  }

  .title {
    padding: 0.8rem 0rem;
    font-size: 1.4rem;
  }

  .heading {
    font-size: 3.4rem;
  }

  .content {
    font-size: 1.6rem;
  }
}
