/* === CSS Variables for Colors === */
:root {
  /* Primary Colors */
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);

  /* Neutral Colors */
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black-75-opacity: hsla(0, 0%, 0%, 0.75);
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Kumbh Sans", serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--white);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.cs-buttons {
  display: flex;
  gap: 10px;
  margin-top: 3rem;
  flex-direction: column;
}
.app {
  padding-bottom: 40px;
}

/* Tablet */
@media (min-width: 375px) {
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1110px;
  }
  main {
    padding-block: 9rem;
  }
  .grid {
    max-width: 1024px;
    display: grid;
  }

  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .cs-buttons {
    flex-direction: row;
  }
  .app {
    padding-bottom: 0px;
  }
  
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}