/* === CSS Variables for Colors === */
:root {
  /* Primary Colors */
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);

  /* Neutral Colors */
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black-75-opacity: hsla(0, 0%, 0%, 0.75);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--white);
}

.container {
  width: 95%;
  margin: 0 auto;
  padding: 0 20px;
}

/* Tablet */
@media (min-width: 375px) {
}

/* Desktop */
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}